# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
# /build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
build/c851ff47e3639af1ef9ce9a7708ed9b6.cache.dill.track.dill
build/d1e25e033e83e0237fd5ee906d81ede1.cache.dill.track.dill
build/581509f6f23135dceee3f14386881676/_composite.stamp
build/581509f6f23135dceee3f14386881676/gen_dart_plugin_registrant.stamp
build/581509f6f23135dceee3f14386881676/gen_localizations.stamp
build/46d1529db4071e21a5781e49cf14ffb8/_composite.stamp
build/46d1529db4071e21a5781e49cf14ffb8/gen_dart_plugin_registrant.stamp
build/46d1529db4071e21a5781e49cf14ffb8/gen_localizations.stamp
